nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* ou conforme necessário */
  background-color: #333; /* Cor de fundo da navbar */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

main {
  margin-top: 60px; /* Altura da navbar */
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}


